requests>=2.0
pexpect>=4.8
psutil

# gevent versions are date-based so tell us nothing about breaking changes
gevent>=20.9

# pymodbus bumps its minor version number for each release
pymodbus~=2.4

# chirpstack API for LoRa devices
chirpstack-api>=3.11.0

pysmartweatherudp>=0.1.7
